@font-face {
    font-family: 'Windows 95';
    src: url('w-95-sans-serif.woff2') format('woff2'),
        url('w-95-sans-serif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.form {
    height: 90vh;
    width: 450px;
    position: relative;
    top: 50%;
    left: 50%;
    box-shadow: 0 15px 35px rgba(0,0,0,5);
    transform: translate(-50%, -50%);
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #393939;
    border-bottom: 2px solid #393939;
    border-radius: 0;
    background: #C0C0C0;
    z-index: 5;
  }

.form-tertiary .form-header {
    background: #000181;
    color: white;
  }

.form-header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: #808080;
  font-size: .65rem;
  padding: 5px;
  color: #C9C9C9;
  border-radius: 0;
  border: 2px solid #BDBDBD;
  text-align: center;
  }  

.form-header .icon {
  position: absolute;
  top: -5px;
  left: -3px;
  }

.form-body {
   height: 85vh;
   overflow: hidden;
   padding: 10px 7px;
   position: relative;
   border-top: 2px solid #BDBDBD;
   border-left: 3px solid #BDBDBD;
   border-right: 3px solid #BDBDBD;
   border-bottom: 2px solid #bdbdbd;
   background-color: rgb(196, 196, 196);
  }

  .form-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    width: calc(100% - 20px); 
    box-sizing: border-box;
  }

  .label-box {
    font-size: 0.75em;
    color: #000000;
  }

  .input-box {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%; 
  }

  .email-input {
    flex: 1; 
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    background-color: transparent;
    color: #706d6d;
    background-color: white;
    font-size: 0.65em;
  }

  .email-input:focus + .label-box {
    opacity: 0;
  }

  .message-input {
    flex: 1; 
    width: 100%;
    height: 15vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    background-color: transparent;
    color: #706d6d;
    background-color: white;
    font-size: 0.65em;
  }

  .message-input:focus + .label-box {
    opacity: 0;
  }

  .sendmail{
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    transition: all 0.2s ease;
    letter-spacing: 0.025em;
    font-size: .6rem;
    border-radius: 0.125rem;
    padding: .6rem 2rem;
    max-height: 37px;
    color: #000;
    background-color: #c0c0c0;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
  }

  .sendmail:active {
    border-top: 2px solid rgb(196, 196, 196);
    border-left: 2px solid rgb(196, 196, 196);
    border-right: 2px solid rgb(196, 196, 196);
    border-bottom: 2px solid rgb(196, 196, 196);;
  }